body {
  font-family: 'Arial';
}

.clear {
  clear: left;
}

/*////////////////////////////MENU///////////////////////////////////*/
#menu {
  float:left;
  clear:both;
}

.fakeButton {
  background-color:#CACACA;
  border: 2px solid #DADADA;
  padding: 20px;
  border-radius: 10px;
}
.fakeButton:hover{
  background-color:#DADADA;
}

.fakeButton a {
  color: #B92020;
}

/*////////////////////////////MAIN///////////////////////////////////*/

#main {
  width: 100%;
  float:left;
  margin: 20px;
  display: block;
}




/*/////////////////////////////////////////////////////////////*/
.formulario {
	background-color: #FAFAFA;
	color:#24ACAC;
	margin: 20px;
	padding: 20px;
}