body {
	color: #BDC2C4;
}

#macro{
	width: 100%;
	height: 100%;
}


#barra_chat{
	width: 18%;
	height: auto;

	position: relative;
	bottom: 1500px;
	float:right;

	background-color: #D6EAF8;
  	border-radius: 5px;
  	box-shadow: 5px 5px #1B4F72;	
  	color: #2980B9;
}

#barra_chat img {
	text-align:center;
	width: 90%;
	height: 20%;
	margin: 20px 15px;
}

#barra_chat h2 {
	text-align:left;
	color: #1B4F72;
	font-size: 15pt;
}

#general {	
	width: 80%;
	height: 1500px;
} 

#cuerpo{
	width: 100%;
	height: auto ;
}
 
#cabecera {
	text-shadow: 0.1em 0.1em 0.2em black;
	color: white;
	text-align:center;
	width: 80%;
	height: 500px;
	border-radius: 5%; 	
}

.bgImgCenter{
	background-image: url('../img/sanpablo.png');
    background-position: center; 
    border-radius: 5px;
  	box-shadow: 5px 5px #1B4F72;	

}

#cabecera h1 {
	font-size: 17pt;
}
	
#cabecera h2 {
	font-size: 25pt;
	font-style: italic;
}

#country{
	width: 60%;
	height: 100%;
  	/*line-height: 60px;	*/
	float:left;
	/*background-color: green;*/
}

#country h1{
	font-size: 10pt;
	position: absolute;
    top: 13%;
    left: 10%;
}

#country h2{
	font-size: 25pt;
	position: absolute;
    top: 2%;
    left: 10%;
}

#profile {
	width: 40%;
	height: 100%; 	

	float: right;
	/*background-color: black	;*/
}

#profile img {
	width: 170px;
	height: 170px;

	margin: 0px 20px;	
	border-radius: 50%;
}

.clear {
	clear: left;
	clear: right;
}

.titulo {
	text-align: center;
	color: #1B4F72;
	font-size: 15pt;
}

.usuario {
	display: none;	
}

#superamigos img{
	width: 50%;
	width: 200px;
	height: 200px;

	margin: 0px 5px;	
	border-radius: 10%;
}

.bloque {
  background-color: #D6EAF8;
  border-radius: 5px;
  box-shadow: 5px 5px #1B4F72;	
  margin: 20px 30px;
  padding: 10px;
  color:#2980B9;
}

